<button ng-click="addBlockClick()" type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-modal-window"></span> Add block
</button>

<div id="tool-list" style="display: none;">
    <div
        class="tool-item"
        ng-repeat="(type, block) in blocks"
        ng-drag="true"
        ng-drag-data="{onDropComplete: 'addBlock', type: type, data: block}">
        <div class="tool-block">
            {{ block.label }}
            <span class="{{ block.picto }}"></span>
        </div>
        <p>{{ block.text }}</p>
    </div>
</div>
