<button ng-click="addBlockClick()" type="button" class="btn btn-default btn-sm">
    <span class="glyphicon glyphicon-modal-window"></span> Add block
</button>

<div id="tool-list">
    <div
        class="tool-item"
        ng-repeat="(type, block) in blocks"
        ng-drag="true"
        ng-drag-data="{onDropComplete: 'addBlock', type: type, data: block}"
        data-allow-transform="false">
            <div class="tool-detail">
                <div class="tool-middle">
                    <span class="{{ block.picto }}"></span>
                    {{ block.label }}
                </div>
            </div>
            <div class="tool-hover">
                <span class="tool-middle">
                    <span>{{ block.text }}</span>
                </span>
            </div>
        </div>
    </div>
</div>
