<div id="zone-{{ block.alias }}-{{ block.id }}" class="zone-block zone-{{ block.alias }}">
    <div class="container">
        {% if edit %}<div class="block-editing">{% endif %}

        {% block content %}
        {% endblock %}

        {% if edit %}</div>{% endif %}
    </div>
</div>
