<nav id="toolbar" class="lpfactory-tool navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <img src="{{ asset('bundles/lpfactorycore/img/lpfactory.png') }}" height="25" />
        </div>
        <div class="collapse navbar-collapse">
            {% block toolbar_content %}
            {% endblock %}
        </div>
    </div>
</nav>
