{% extends 'LpFactoryCoreBundle:Page:_toolbar_layout.html.twig' %}

{% block toolbar_content %}
    <ul class="nav navbar-nav">
        {% for tool in tools %}
            <li {{ tool.directive }} {{ tool.directiveAttributes|to_html_attributes }}></li>
        {% endfor %}
    </ul>
    <ul class="list-unstyled list-inline navbar-right">
        <li>
            <a class="btn btn-default btn-sm" href="{{ lp_path_page(page, 'view') }}">
                <span class="glyphicon glyphicon-log-out"></span> {{ 'page_cancel_link'|trans }}
            </a>
        </li>
    </ul>
{% endblock %}
