{% extends 'OpSiteBuilderWebBundle::base.html.twig' %}

{% block body %}
    {% if is_granted('OPSITE_BUILDER_PAGE_EDIT', page) %}
        <a href="{{ op_path_page(page, 'edit') }}">{{ 'page_edit_link'|trans }}</a>
    {% endif %}

    {% for block in page.blocks %}
        {% if not block_is_empty(block) %}
            {% render(controller(get_block_view_controller(block), {
                'block': block
            })) %}
        {% endif %}
    {% endfor %}
{% endblock %}
