{% if edit %}
    <div class="block-tools">
        {% include 'OpSiteBuilderWebBundle:Block/Tools:_edit_action.html.twig' with {
            block: block
        } %}
        {% include 'OpSiteBuilderWebBundle:Block/Tools:_move_action.html.twig' with {
            block: block
        } %}
        {% include 'OpSiteBuilderWebBundle:Block/Tools:_remove_action.html.twig' with {
            block: block
            } %}
    </div>
{% endif %}
