{% if block.isEditable %}
    <a class="btn btn-default btn-sm" href ng-cancel-drag ng-click="editAction()">
        <span class="glyphicon glyphicon-pencil"></span> {{ 'tools.edit'|trans }}
    </a>
{% endif %}
