<a class="btn btn-default btn-sm" href ng-cancel-drag ng-really-message="{{ 'confirm.remove_block'|trans }}" ng-really-click="removeAction($index)">
    <span class="glyphicon glyphicon-trash"></span> {{ 'tools.remove'|trans }}
</a>
